<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gocd.agent</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/shakirshakiel/ansible_test/go_agent_launcher.sh</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/shakirshakiel/ansible_test/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/shakirshakiel/ansible_test/error.log</string>
</dict>
</plist>
